html {
    font-size: 10px;
}

.home {
    padding: 2rem;
}

.home h1 {
        color: #a3a3a3;
        text-align: center;
        font-family: 'helvetica', sans-serif;
        font-size: 3rem;
    }
    .home p {
        color: #a3a3a3;
        text-align: center;
        font-famlily: 'serif';
        font-size: 1.6rem;
    }
